* {
  box-sizing: border-box;
  outline: none;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#app {
  height: 100%;
  width: 100%;
  background-color: aquamarine;
  padding: 50px;
}

#player-box {
  width: 400px;
  height: 180px;
  padding: 20px;
  margin: 30px 30px 30px 0;
  border-radius: 8px;
}

#player-box__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 100%;
}

#player-box__img,
#player-box__img > img {
  width: calc(180px - 20px * 2);
  height: calc(180px - 20px * 2);
  border-radius: 8px;
}

#player-box__right-box {
  display: flex;
  flex-direction: column;
  width: calc(400px - 180px - 10px);
  height: calc(180px - 20px * 2);
  margin-left: 10px;
}

#player-box__info-group {
  width: 100%;
  height: 80%;
  padding: 8px 0;
}

#player-box__info-group > * {
  margin-top: 0px;
  margin-bottom: 5px;
}

#player-box__controller {
  display: flex;
  align-items: center;
  width: 100%;
  height: 20%;
  padding: 0 2px;
}

#player-box__progress-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 10px;
  width: calc(100% - 2px * 2);
}

#player-box__progress-bar__progress {
  display: inline-block;
  background-color: black;
  height: 1px;
}

#player-box__progress-bar__progress-ball {
  display: inline-block;
  width: 3px;
  height: 3px;
  border-radius: 100%;
  background-color: aquamarine;
  margin-left: -1px;
}

#player-box__play-btn {
  position: absolute;
  border: none;
  width: 28px;
  height: 28px;
  padding: 0;
  border-radius: 100%;
  margin-left: calc(210px - 28px);
  cursor: pointer;
}

#player-box__play-btn:active::after {
  position: absolute;
  content: "";
  width: 28px;
  height: 28px;
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  margin: -7px 0 0 -26px;
}
